<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图片分享</title>
  <link href="resource/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

  <div class="container">
    <div id="slide">

      <div class="item" style="background-image: url(/resource/images/1.jpg);">
        <div class="content">
          <div class="name"><i>CITY LIFE</i></div>
          <div class="des">Shot on Hei Long Jinag</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(/resource/images/2.jpg);">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">这里是文字描述</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(/resource/images/3.jpg);">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">这里是文字描述</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(/resource/images/4.jpg);">
        <div class="content">
          <div class="name"><i>PLANE</i></div>
          <div class="des">Shot by xiaom 11 Ultar</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(/resource/images/5.jpg);">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">这里是文字描述</div>
          <button>See more</button>
        </div>
      </div>
      <div class="item" style="background-image: url(/resource/images/6.jpg);">
        <div class="content">
          <div class="name">LUNDEV</div>
          <div class="des">这里是文字描述</div>
          <button>See more</button>
        </div>
      </div>
      
    </div>

  </div>
   <div class="buttons">
    <button id="prev"><i class="fa-solid fa-angle-left"></i></ion-icon>
    </button >
    <button id="next"><i class="fa-solid fa-chevron-right"></i></ion-icon>
    </button>

   </div>
  </div>
  <script src="/resource/js/luoji.js"></script>

</body>
</html>

